* {
  line-height: 140%;
}

html {
  font-size: 62.5%;
  /* 
    Sets the base font size of the entire webpage.
    62.5% of the default 16px = 10px, which makes rem units easier to calculate.
    Example: 1.6rem = 16px, 2rem = 20px.
  */
  scroll-behavior: smooth;
}
#mp-logo-container {
  padding: 15px 10px;
  position: relative;
  width: 150px;
  height: 120px;
  overflow: hidden; /*prevents zoomed images from overflowing the container */
  border-radius: 50px; /* makes the container circular */
}
body {
  font-size: 1.6rem;
  background-color: #f8f9fa;
  color: #1a1a1a;
  width: 95%;
  margin: 0 auto;
  font-family: "Georgia", "Times New Roman", Times, serif;
  letter-spacing: 0.02em;
  word-spacing: 0.05em;
}

#mp-logo-container img {
  z-index: 999;
  width: 75%;
  height: 75%;
  transition: transform 0.8s ease-in-out;
}

#mp-logo-container img:hover {
  transform: scale(1.1); /* zooms image to 110% */
}
#nav-links {
  transition: color 0.3s ease;
  padding: 20px 20px;

  list-style: none;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.nav-item {
  justify-content: space-between;
  gap: 20px;
}
nav a {
  font-size: 1.8rem;
  color: #f5f5f5;
  background-color: #333333;
  transition: background-color 0.3s ease;
  padding: 15px 20px;
  /* Space inside the nav container. */
  width: 95%;
  text-decoration: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  align-items: space-between;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}
nav a:hover,
nav a:focus,
nav a:active {
  background-color: #f5a623;
  color: #333333;
  border: 1px solid #333333;
  transition: ease-in-out 0.3s;
  -webkit-transition: background-color 0.3s ease;
  /* For older browsers (Chrome, Safari) */
  -moz-transition: background-color 0.3s ease;
  /* For older versions of Firefox */
  -o-transition: background-color 0.3s ease;
  /* For older versions of Opera */
}

h1 {
  display: block;
  width: -webkit-fit-content; /* fallback for older WebKit */
  width: fit-content; /* modern browsers */
  margin: 0 auto; /* centers the block horizontally */
  text-align: center; /* centers text inside the element */
  font-size: 2.4rem;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #f3a72d;
  color: #333333;
  border-bottom: 5px solid #333333;
  padding: 10px 15px;
  border-radius: 15px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  position: relative;
  /* Enables positioning adjustments. */
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 8px;

  font-weight: bold;
  display: block;
  width: -webkit-fit-content; /* fallback for older WebKit */
  width: fit-content; /* modern browsers */
  margin: 0 auto; /* centers the block horizontally */
  text-align: center; /* centers text inside the element */
  color: #2c2c2c;
  background-color: #f8f9fa;
  border-bottom: 3px solid #f5a623;
  padding-top: 20px;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 6px;
  font-weight: bold;
}

#mp-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #fff9f3;
  background-color: #fff9f3;
  border-radius: 85px;
}
#mp-image img {
  max-width: 100%;
  height: auto;
}
section {
  margin-bottom: 10px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 1.8rem;
  border-radius: 20px;
  margin-top: 5px;
}
#services-link {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 25px;
  background-color: #f5a623;
  color: #333333;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#services-link:hover,
#services-link:focus,
#services-link:active {
  background-color: #333333;
  color: #f5a623;
  border: 1px solid #f5a623;
  transition: ease-in-out 0.3s;
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  /* Visual Appearance */
  width: 50px;
  height: 50px;
  background-color: #f3a72d;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;

  /* Centering the arrow inside the button */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Design Details */
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}
#back-to-top:hover {
  background-color: #333333;
  transform: scale(1.1);
}
.client-logo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  background-color: #fff9f3;
  border: 1px solid #f5a623;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 70%;

  justify-content: center;
  align-items: center;
  transition: transform 0.8s ease-in-out;
}
.client-logo:hover {
  transform: scale(1.1);
}
h3 {
  text-align: center;
  color: #2c2c2c;
  background-color: #f8f9fa;
  border-bottom: 3px solid #f5a623;
  padding-top: 20px;
}
div.client-logo img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
#clients-section {
  background-color: #f8f9fa;
  display: grid;
  grid-template-rows: repeat (4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-self: center;
}
p {
  text-align: center;
}
div.info {
  background-color: #f8f9fa;
  border: 1px solid #f5a623;
  border-radius: 20px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}
div.info h2 {
  color: #2c2c2c;
  background-color: #f8f9fa;
  border-bottom: 3px solid #f5a623;
  padding-top: 20px;
}
blockquote {
  font-style: italic;
  border-left: 4px solid #f5a623;
  padding-left: 15px;
  margin-left: 0;
  margin-right: 0;
  color: #555555;
  font-size: 2rem;
}
blockquote p {
  margin-bottom: 20px;
}
blockquote footer {
  text-align: right;
  font-size: 1.6rem;
  color: #555555;
}
#div-2-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
#div-2-list li {
  background-color: #f5a623;
  color: #333333;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  border-bottom: 5px solid #333333;
  border-left: 3px solid #333333;
  width: 25%;
}
.what-we-do {
  background-color: #f8f9fa;
  border: 1px solid #f5a623;
  border-radius: 20px;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 1.8rem;
}
.what-we-do img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
}
.what-we-do:hover img {
  transform: scale(1.1);
}
#bottom-footer {
  background-color: #333333;
  color: #f5a623;
  text-align: center;
  padding: 20px;
  font-size: 1.6rem;
  border-top: 5px solid #f5a623;
  margin-top: 30px;
  border-radius: 15px;
}
#bottom-footer h2 {
  margin-bottom: 10px;
  background-color: transparent;
  color: #f5a623;
}
#bottom-footer p {
  margin-bottom: 40px;
}
#contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style: none;
}
#contact-info li {
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
#contact-info a {
  background-color: #f5a623;
  color: #333333;
  border-bottom: 5px solid #333333;
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
#contact-info a:hover,
#contact-info a:focus,
#contact-info a:active {
  background-color: #333333;
  color: #f5f5f5;
  border: 1px solid #f5a623;
  transition: ease-in-out 0.3s;
}
